.ProfileSide {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* Większe odstępy między elementami */
    align-items: center;
    overflow: auto;
    padding: 1rem; /* Dodanie paddingu dla lepszego odstępu */
    /* Jasne tło dla karty */
    border-radius: 12px; /* Zaokrąglone rogi */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Dodanie cienia */
    max-width: 100%;
    height: 100%;
    overflow-x: hidden; /* Ukrycie poziomego przewijania */
    overflow-y: hidden; /* Przewijanie pionowe, jeśli potrzeba */
    box-sizing: border-box;

}

@media (max-width: 768px) {
    .ProfileSide {
        padding: 1rem; /* Zmniejszenie paddingu na mniejszych ekranach */
        gap: 1rem; /* Mniejsze odstępy na mniejszych ekranach */
    }
}

