/* Karta główna */
.FollowersCard {
    background-color: white;
    border-radius: 12px;
    padding: 20px;

    max-width: 100%;
    width: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Nagłówek */
.followersCardHeader {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

/* Styl dla każdego obserwującego */
.follower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #e6ecf0;
    margin-bottom: 10px;
}

.follower:last-child {
    border-bottom: none;
}

/* Informacje o obserwującym */
.followerInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Zdjęcie profilowe */
.followerImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #e6ecf0;
}

/* Dane użytkownika */
.name {
    display: flex;
    flex-direction: column;
}

.followerName {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

/* Styl przycisku 'Follow' */
.followButton {
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.followButton:hover {
    background-color: #1a91da;
    transform: scale(1.05);
}

/* Responsywność */
@media (max-width: 768px) {
    .FollowersCard {
        padding: 15px;
    }

    .followerImg {
        width: 40px;
        height: 40px;
    }

    .followButton {
        padding: 8px 20px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .followerInfo {
        flex-direction: column;
        align-items: flex-start;
    }

    .follower {
        flex-direction: column;
        align-items: flex-start;
    }

    .followButton {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}




.followButton:hover {
    background-color: #1a91da; /* Ciemniejszy odcień niebieskiego */
}

.followButton.following {
    background-color: #657786; /* Szary kolor, gdy użytkownik jest zaobserwowany */
}

.followButton.following:hover {
    background-color: #525e6b; /* Ciemniejszy szary przy hoverze */
}