/* Styl dla głównego kontenera posta */
.Post {
    display: flex;
    flex-direction: column;
    padding: 1.5rem; /* Większe odstępy wewnątrz posta */
    background-color: var(--cardColor); /* Kolor tła karty */
    border-radius: 12px; /* Zaokrąglone rogi */
    gap: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid var(--lightGray); /* Delikatna ramka */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtelny cień */
}

/* Obrazek postu */
.Post > img {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 8px; /* Zaokrąglone rogi obrazu */
}

/* Kontener reakcji na post */
.postReact {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

/* Styl dla zdjęcia profilowego autora */
.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

/* Kontener na imię autora i opis posta */
.detail {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Informacje o autorze */
.authorInfo {
    display: flex;
    flex-direction: column;
}

.authorInfo span:first-of-type {
    font-weight: bold;
}

.authorInfo span:last-of-type {
    color: var(--gray);
    font-size: 14px;
}
