@tailwind base;
@tailwind components;
@tailwind utilities;
.scroll-hidden::-webkit-scrollbar {
    display: none;
}

/* Ukrycie paska przewijania dla przeglądarek Firefox */
.scroll-hidden {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}