.Profile {
    position: relative;
    display: grid;
    grid-template-columns: 20rem auto;
    gap: 1.5rem; /* Zwiększone odstępy między kolumnami */
    padding: 1rem; /* Dodanie paddingu wewnętrznego */
    background-color: #fafafa; /* Jasne tło */
}

.ProfilePage-Center {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* Większe odstępy między elementami */
}

/* Responsywność */
@media (max-width: 1024px) {
    .Profile {
        grid-template-columns: 15rem auto; /* Zmniejszenie rozmiarów kolumn na mniejszych ekranach */
    }
}

@media (max-width: 768px) {
    .Profile {
        grid-template-columns: 1fr; /* Jedna kolumna na mniejszych ekranach */
        gap: 1rem;
    }

    .ProfilePage-Center {
        gap: 1rem; /* Zmniejszenie odstępów na mniejszych ekranach */
    }
}
